body .nav-content {
  width: 83.75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
body .nav-content .left-side,
body .nav-content .right-side {
  display: flex;
  justify-content: space-between;
}
body .nav-content .left-side {
  width: 43.6%;
  min-width: 450px;
}
body .nav-content .left-side .logo {
  width: 27px;
  height: 27px;
  border-radius: 13px;
  background-color: #5E81FE;
}
body .nav-content .left-side button {
  display: none;
}
body .nav-content .left-side button,
body .nav-content .left-side a {
  font-family: Quicksand;
}
body .nav-content .left-side .links {
  width: 81.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .nav-content .left-side .links a {
  color: #697CA6;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
body .nav-content .right-side {
  width: 26.4%;
  min-width: 260px;
}
body .nav-content .right-side .social-medias {
  width: 50.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .nav-content .right-side .social-medias a {
  outline: none;
}
body .nav-content .right-side button {
  height: 43px;
  width: 113px;
  font-size: 13px;
  font-weight: 700;
  color: #3A79FF;
  font-family: Quicksand;
  border-radius: 2px;
  background-color: #D2E1FF;
  border: none;
}
body nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D8E3FE;
  z-index: 2;
  position: relative;
  background-color: white;
}
body .banner {
  height: 100vh;
  width: 100%;
  position: relative;
  top: -80px;
  z-index: 1;
  background-color: #F3F6FF;
  background-image: url("./images/clouds1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 650px;
  overflow: hidden;
}
body .banner .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  position: relative;
  z-index: 2;
  bottom: 60px;
}
body .banner .text .subheading {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #3D4F9F;
  font-family: Roboto;
}
body .banner .text h1 {
  font-family: Quicksand;
  font-weight: 300;
  line-height: 60px;
  font-size: 48px;
  color: #3D4F9F;
  margin-top: 16px;
  margin-bottom: 28px;
}
body .banner .text .description {
  font-size: 15px;
  color: #8D96BD;
  line-height: 29px;
  width: 40.5%;
  font-family: Roboto;
}
body .banner .text button {
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  margin-top: 20px;
}
body .banner .text button div {
  border: 8px solid transparent;
  border-left: 12px solid #5E81FF;
  width: 0;
  height: 0;
  position: relative;
  left: 6px;
}
body .banner .wave {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
body .banner .dots {
  width: 48px;
  height: 8px;
  position: absolute;
  bottom: 20px;
}
body .customers {
  height: auto;
  width: 100%;
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
  margin-top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .customers .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-bottom: 58px;
  width: 60%;
}
body .customers .images img {
  margin: 20px;
}
body .plan-and-manage {
  height: 776px;
  background-color: #F5F8FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #D8E3FE;
}
body .plan-and-manage .text-and-buttons {
  width: 28%;
}
body .plan-and-manage .text-and-buttons p {
  font-family: Roboto;
}
body .plan-and-manage .text-and-buttons .subheading {
  font-size: 10px;
  font-weight: 500;
  color: #3D4F9F;
}
body .plan-and-manage .text-and-buttons h1 {
  font-size: 36px;
  color: #3D4F9F;
  font-weight: 300;
  font-family: Quicksand;
  padding-top: 27px;
  padding-bottom: 27px;
}
body .plan-and-manage .text-and-buttons span {
  font-weight: 500;
}
body .plan-and-manage .text-and-buttons .description {
  font-size: 15px;
  color: #8D96BD;
  line-height: 28px;
  font-weight: 400;
}
body .plan-and-manage .text-and-buttons div {
  margin-top: 60px;
}
body .plan-and-manage .text-and-buttons div button {
  width: 130px;
  height: 43px;
  border-radius: 2px;
  font-family: Quicksand;
  font-size: 13px;
}
body .plan-and-manage .text-and-buttons div .view-video {
  background-color: #4C85FF;
  font-weight: 700;
  color: white;
  border: none;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
}
body .plan-and-manage .text-and-buttons div .see-features {
  font-weight: 500;
  border: 1px solid #D1D1E4;
  color: #ADB4D2;
  background: none;
}
body .plan-and-manage svg {
  width: 640px;
  height: 436px;
  margin-left: 55px;
}
body .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #D8E3FE;
  background-image: url(./images/clouds2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .features .title,
body .features .description,
body .features .buttons {
  z-index: 1;
}
body .features .title {
  margin-top: 170px;
  font-weight: 500;
  color: #3D4F9F;
  text-align: center;
}
body .features .title p {
  font-family: Roboto;
  font-size: 10px;
}
body .features .title h3 {
  font-family: Quicksand;
  font-size: 24px;
  padding-top: 20px;
}
body .features .description {
  width: 53%;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
body .features .description div {
  text-align: center;
  font-family: "Open Sans";
  width: 140px;
  height: 230px;
}
body .features .description div h5 {
  color: #4074F8;
  font-size: 14px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 25px;
}
body .features .description div p {
  font-weight: 600;
  font-size: 11px;
  color: #ADB3CB;
  line-height: 20px;
}
body .features .description .line {
  position: relative;
  top: 10px;
}
body .features .buttons {
  display: flex;
  align-items: center;
  margin-bottom: 170px;
}
body .features .buttons button {
  border: none;
  width: 115px;
  height: 45px;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13px;
}
body .features .buttons .read-more-button {
  background-color: #FFD7D7;
  color: #D43F3F;
}
body .features .buttons .get-started-button {
  background-color: #D2E1FF;
  color: #3A79FF;
}
body .features .buttons svg {
  margin-right: 16px;
  margin-left: 16px;
}
body .features .buttons p {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  color: #ADB3CB;
}
body .stats {
  width: 100%;
  height: 342px;
  display: flex;
  font-family: Quicksand;
}
body .stats div {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
body .stats div img {
  margin-top: 66px;
  margin-bottom: 26px;
}
body .stats div h2 {
  font-weight: 400;
  font-size: 48px;
}
body .stats div p {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  width: 260px;
  padding-top: 26px;
  padding-bottom: 66px;
}
body .stats .left-side {
  background-color: #6888FF;
  align-items: flex-end;
}
body .stats .left-side h2,
body .stats .left-side p {
  color: white;
}
body .stats .left-side img,
body .stats .left-side h2,
body .stats .left-side p {
  margin-right: 90px;
}
body .stats .left-side p {
  text-align: right;
}
body .stats .right-side {
  background-color: #E9EFFF;
  align-items: flex-start;
}
body .stats .right-side h2,
body .stats .right-side p {
  color: #5E80FF;
}
body .stats .right-side img,
body .stats .right-side h2,
body .stats .right-side p {
  margin-left: 90px;
}
body .blog {
  background-color: #F5F8FF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #D8E3FE;
}
body .blog .title {
  color: #3D4F9F;
  margin-top: 105px;
}
body .blog .title p {
  font-size: 10px;
  font-weight: 500;
  font-family: Roboto;
  padding-bottom: 20px;
}
body .blog .title h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: Quicksand;
}
body .blog .blog-and-arrows {
  display: flex;
  margin-top: 90px;
  margin-bottom: 100px;
}
body .blog .blog-and-arrows img {
  height: auto;
}
body .blog .blog-and-arrows .arrow {
  width: 23px;
}
body .blog .blog-and-arrows #left-arrow {
  margin-right: 75px;
}
body .blog .blog-and-arrows #right-arrow {
  margin-left: 75px;
}
body .blog .blog-and-arrows .blog-example {
  width: 66vw;
  height: auto;
  background-color: white;
  border: 1px solid #D8E3FE;
  display: flex;
  align-items: center;
}
body .blog .blog-and-arrows .blog-example .photos,
body .blog .blog-and-arrows .blog-example .description {
  margin-top: 65px;
  margin-bottom: 65px;
}
body .blog .blog-and-arrows .blog-example .photos {
  margin-left: 35px;
  margin-right: 70px;
  width: auto;
  display: flex;
}
body .blog .blog-and-arrows .blog-example .photos img {
  border-radius: 5px;
  box-shadow: 0px 15px 100px #E5EBF8;
}
body .blog .blog-and-arrows .blog-example .photos .photo-and-loupe {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .blog .blog-and-arrows .blog-example .photos .photo-and-loupe svg {
  position: absolute;
  width: 66px;
}
body .blog .blog-and-arrows .blog-example .photos .column {
  width: 127px;
  margin-left: 13px;
}
body .blog .blog-and-arrows .blog-example .photos .column img {
  width: 127px;
}
body .blog .blog-and-arrows .blog-example .description {
  margin-right: 40px;
  width: 70%;
  text-align: left;
}
body .blog .blog-and-arrows .blog-example .description h2 {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  padding-bottom: 30px;
}
body .blog .blog-and-arrows .blog-example .description p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #8D96BD;
}
body .blog .blog-and-arrows .blog-example .description .buttons {
  margin-top: 40px;
}
body .blog .blog-and-arrows .blog-example .description .buttons button {
  border-radius: 2px;
  font-size: 13px;
  font-family: Quicksand;
  font-weight: 700;
  border: none;
}
body .blog .blog-and-arrows .blog-example .description .buttons .read-button {
  width: 115px;
  height: 45px;
  background-color: #D2E1FF;
  color: #3A79FF;
  margin-right: 5px;
}
body .blog .blog-and-arrows .blog-example .description .buttons .add-button {
  width: 210px;
  height: 45px;
  color: #A6B6DA;
  background: none;
}
body .blog .dots {
  margin-bottom: 105px;
}
body .quotes {
  background: linear-gradient(180deg, #EAF0FF, #F6F9FF);
  height: 480px;
  border-bottom: 1px solid #D8E3FE;
  overflow: hidden;
  position: relative;
}
body .quotes .text {
  width: 23%;
  position: absolute;
  left: 19%;
  top: 145px;
}
body .quotes .text .subheading,
body .quotes .text h2 {
  color: #3D4F9F;
}
body .quotes .text .subheading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
}
body .quotes .text h2 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  padding-top: 30px;
  padding-bottom: 15px;
}
body .quotes .text .description {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  color: #A4ABC8;
}
body .quotes .comments {
  display: flex;
  position: absolute;
  top: 110px;
  left: 51%;
}
body .quotes .comments div {
  width: 425px;
  height: 175px;
  background-color: white;
  border: 1px solid #D8E3FE;
  display: flex;
  justify-content: center;
  position: relative;
}
body .quotes .comments div p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #676F95;
  width: 67%;
  padding-top: 41px;
}
body .quotes .comments div img {
  width: 62px;
  height: auto;
  position: absolute;
  bottom: -31px;
}
body .quotes .comments svg {
  position: absolute;
  bottom: -78px;
  left: 130px;
}
body .quotes .comments .comment {
  margin-left: 65px;
  opacity: 0.5;
}
body .faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .faq .title {
  color: #3D4F9F;
  text-align: center;
  margin-top: 175px;
  margin-bottom: 70px;
}
body .faq .title p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 20px;
}
body .faq .title h3 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
body .faq .question {
  height: 60px;
  width: 52%;
  margin-bottom: 20px;
  border-bottom: 1px solid #D8E3FE;
  cursor: pointer;
  display: flex;
}
body .faq .question img {
  margin-bottom: 15px;
  margin-left: 20px;
  width: 18px;
}
body .faq .question p {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #8E96B7;
  padding-top: 10px;
  padding-left: 25px;
}
body .faq #clicked-question {
  height: auto;
  flex-direction: column;
}
body .faq #clicked-question .arrow-and-question {
  display: flex;
}
body .faq #clicked-question .arrow-and-question p {
  color: #495274;
  font-weight: 700;
  padding-top: 10px;
}
body .faq #clicked-question .arrow-and-question img {
  margin-bottom: 0;
  margin-top: 10px;
}
body .faq #clicked-question .info {
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
}
body .faq #clicked-question .info p {
  color: #8D96BD;
  font-weight: 400;
  font-family: Roboto;
  line-height: 27px;
  padding-top: 0;
  padding-left: 80px;
  width: 52%;
}
body .faq #clicked-question .info button {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 13px;
  background-color: #E8ECF4;
  color: #7382A3;
  border-radius: 2px;
  width: 195px;
  height: 45px;
  border: none;
  margin-left: 60px;
  margin-top: 10px;
}
body .faq #last-question {
  margin-bottom: 175px;
}
body .get-started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  height: 450px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .get-started .clouds {
  background-image: url(./images/clouds3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 0;
}
body .get-started p,
body .get-started h2,
body .get-started .buttons {
  z-index: 1;
}
body .get-started p,
body .get-started h2 {
  text-align: center;
}
body .get-started .subheading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
  padding-top: 90px;
}
body .get-started h2 {
  font-family: Quicksand;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 30px;
}
body .get-started .text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  width: 47%;
}
body .get-started .buttons {
  margin-top: 60px;
}
body .get-started .buttons button {
  font-family: Quicksand;
  background: transparent;
  height: 45px;
  font-size: 13px;
}
body .get-started .buttons .pricing {
  width: 130px;
  font-weight: 700;
  background-color: white;
  border: none;
  color: #565F82;
}
body .get-started .buttons .documentation {
  width: 155px;
  font-weight: 500;
  border: 1px solid #A0B4FF;
  color: #C7D3FF;
}
body .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D8E3FE;
}
body .newsletter .content {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62%;
}
body .newsletter .content .text {
  width: 36%;
  padding-right: 80px;
}
body .newsletter .content .text p,
body .newsletter .content .text h5 {
  letter-spacing: 3%;
}
body .newsletter .content .text h5 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 18px;
  color: #3D4F9F;
  padding-bottom: 20px;
  line-height: 23px;
}
body .newsletter .content .text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #8D96BD;
  line-height: 27px;
}
body .newsletter .content .form {
  display: flex;
}
body .newsletter .content .form input,
body .newsletter .content .form button {
  border-radius: 5px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13px;
  border: none;
}
body .newsletter .content .form input {
  background-color: #EFEFF7;
  width: 255px;
  height: 60px;
  color: #7A85AD;
  padding-left: 25px;
  padding-right: 0;
}
body .newsletter .content .form button {
  width: 185px;
  height: 60px;
  background-color: #4D6CE1;
  color: white;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  margin-left: 15px;
}
body footer {
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body footer .wrapper {
  width: 83.75%;
}
body footer .wrapper #bottom-nav {
  width: 100%;
}
body footer .wrapper p {
  font-family: Quicksand;
  color: #AEB8D0;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-top: 30px;
}
@media only screen and (max-width: 1400px) {
  body .banner {
    background-size: cover;
  }
  body .blog .blog-and-arrows #left-arrow {
    margin-right: 30px;
  }
  body .blog .blog-and-arrows #right-arrow {
    margin-left: 30px;
  }
  body .blog .blog-and-arrows .blog-example {
    width: 85vw;
  }
}
@media only screen and (max-width: 1200px) {
  body .nav-content {
    width: 95%;
  }
  body .banner .text .description {
    width: 500px;
  }
  body .customers .images {
    justify-content: center;
  }
  body .plan-and-manage {
    flex-direction: column;
    height: auto;
  }
  body .plan-and-manage .text-and-buttons {
    width: 90%;
    text-align: center;
    margin-top: 80px;
  }
  body .plan-and-manage .text-and-buttons div {
    margin-top: 40px;
  }
  body .plan-and-manage svg {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 70%;
    height: auto;
  }
  body .features .description {
    width: 90%;
  }
  body .features .description div {
    width: 20%;
  }
  body .blog .blog-and-arrows .blog-example .description {
    text-align: center;
  }
  body .blog .blog-and-arrows .blog-example .description .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .blog .blog-and-arrows .blog-example .description .buttons .read-button {
    margin-right: 0;
  }
  body .blog .blog-and-arrows .blog-example .description .buttons .add-button {
    margin-top: 10px;
  }
  body .quotes .text {
    left: 70px;
  }
  body .quotes .comments {
    left: 40%;
  }
  body .faq .title {
    margin-top: 100px;
  }
  body .faq .question {
    width: 80%;
  }
  body .faq #last-question {
    margin-bottom: 100px;
  }
  body .newsletter .content {
    width: 90%;
  }
  body footer .wrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 900px) {
  body .blog .blog-and-arrows .blog-example {
    flex-direction: column-reverse;
    width: 70vw;
  }
  body .blog .blog-and-arrows .blog-example .description {
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 0;
    width: 90%;
  }
  body .blog .blog-and-arrows .blog-example .photos {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 800px) {
  body .nav-content .left-side {
    align-items: center;
    justify-content: flex-start;
    width: auto;
    min-width: auto;
  }
  body .nav-content .left-side button {
    display: block;
    font-size: 13px;
    color: #5E81FE;
    font-weight: 700;
    border: none;
    background: none;
    margin-left: 10px;
  }
  body .nav-content .left-side .links {
    display: none;
  }
  body nav {
    height: 60px;
  }
  body .banner {
    top: -60px;
  }
  body .banner .text {
    bottom: 0;
  }
  body .banner .text .description {
    width: 80%;
  }
  body .banner .dots {
    display: none;
  }
  body .customers {
    margin-top: -60px;
  }
  body .customers .images {
    width: 90%;
  }
  body .plan-and-manage svg {
    width: 90%;
  }
  body .stats {
    height: auto;
  }
  body .stats div {
    justify-content: center;
  }
  body .stats div img {
    margin-top: 40px;
  }
  body .stats div p {
    width: 80%;
    padding-bottom: 40px;
  }
  body .stats .left-side {
    align-items: center;
  }
  body .stats .left-side img,
  body .stats .left-side h2,
  body .stats .left-side p {
    margin-right: 0;
  }
  body .stats .left-side img {
    width: 55px;
  }
  body .stats .left-side p {
    text-align: center;
  }
  body .stats .right-side {
    align-items: center;
  }
  body .stats .right-side img,
  body .stats .right-side h2,
  body .stats .right-side p {
    margin-left: 0;
  }
  body .stats .right-side img {
    width: 60px;
  }
  body .stats .right-side p {
    text-align: center;
  }
  body .blog .title {
    margin-top: 60px;
  }
  body .blog .blog-and-arrows {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  body .blog .blog-and-arrows .blog-example .photos {
    margin-top: 40px;
  }
  body .blog .blog-and-arrows .blog-example .photos .column {
    display: none;
  }
  body .blog .dots {
    margin-bottom: 60px;
  }
  body .quotes {
    height: 550px;
  }
  body .quotes .text {
    width: 85%;
    text-align: left;
    margin-top: 60px;
    margin-left: 30px;
    position: initial;
  }
  body .quotes .comments {
    left: 30px;
    top: 230px;
  }
  body .faq #clicked-question .info {
    display: block;
  }
  body .faq #clicked-question .info p {
    padding-left: 60px;
    width: 90%;
  }
  body .faq #clicked-question .info button {
    margin-top: 20px;
  }
  body .get-started {
    justify-content: center;
  }
  body .get-started .subheading {
    padding-top: 0;
  }
  body .newsletter .content .text {
    width: auto;
    padding-right: 30px;
  }
  body .newsletter .content .form {
    display: block;
    width: 280px;
  }
  body .newsletter .content .form button {
    margin-left: 0;
    margin-top: 20px;
  }
  body footer {
    height: 150px;
  }
}
@media only screen and (max-width: 500px) {
  body .features {
    background-image: none;
  }
  body .features .title {
    margin-top: 80px;
  }
  body .features .description {
    display: block;
    margin-bottom: 80px;
    margin-top: 80px;
    width: 80%;
  }
  body .features .description div {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  body .features .description div h5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body .features .description .line {
    display: none;
  }
  body .features .buttons {
    margin-bottom: 80px;
  }
  body .stats {
    display: block;
  }
  body .stats div {
    width: 100%;
  }
  body .stats div h2 {
    font-size: 40px;
  }
  body .blog .blog-and-arrows .blog-example {
    width: 85vw;
  }
  body .blog .blog-and-arrows .blog-example .photos {
    width: 100%;
    justify-content: center;
  }
  body .blog .blog-and-arrows .blog-example .photos .photo-and-loupe {
    width: 100%;
  }
  body .blog .blog-and-arrows .blog-example .photos .photo-and-loupe img {
    width: 80%;
  }
  body .blog .blog-and-arrows .arrow {
    display: none;
  }
  body .quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
  body .quotes .text {
    margin-left: 0;
    text-align: center;
    margin-top: 40px;
  }
  body .quotes .comments {
    position: relative;
    top: 40px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body .quotes .comments div {
    width: 85%;
    height: auto;
  }
  body .quotes .comments div p {
    padding-bottom: 53px;
  }
  body .quotes .comments .comment {
    display: none;
  }
  body .quotes .comments svg {
    left: 0;
    position: relative;
  }
  body .faq .title {
    width: 80%;
  }
  body .faq .question {
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
  }
  body .faq .question img {
    margin-left: 0;
    margin-top: 15px;
  }
  body .faq .question p {
    text-align: center;
    padding-left: 0;
    padding-top: 0;
  }
  body .faq #clicked-question .arrow-and-question {
    flex-direction: column;
    align-items: center;
  }
  body .faq #clicked-question .arrow-and-question p {
    padding-top: 15px;
  }
  body .faq #clicked-question .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .faq #clicked-question .info p {
    padding-left: 0;
    text-align: center;
  }
  body .faq #clicked-question .info button {
    margin-left: 0;
  }
  body .get-started {
    height: 500px;
  }
  body .get-started .text,
  body .get-started h2 {
    width: 80%;
  }
  body .get-started h2 {
    font-size: 43px;
  }
  body .get-started .buttons {
    margin-top: 40px;
  }
  body .newsletter .content {
    flex-direction: column;
    justify-content: initial;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  body .newsletter .content .text {
    padding-right: 0;
    text-align: center;
  }
  body .newsletter .content .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  body .nav-content .right-side {
    width: auto;
    min-width: auto;
  }
  body .nav-content .right-side .social-medias {
    display: none;
  }
  body .nav-content .right-side button {
    height: 30px;
  }
  body .banner .text h1 {
    font-size: 43px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  body .customers .images {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body .plan-and-manage .text-and-buttons {
    margin-top: 40px;
  }
  body .plan-and-manage .text-and-buttons div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .plan-and-manage .text-and-buttons .see-features {
    margin-top: 10px;
  }
  body .plan-and-manage svg {
    margin-bottom: 40px;
    margin-top: 30px;
  }
  body .features .description {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  body .features .buttons {
    display: block;
    text-align: center;
  }
  body .features .buttons svg {
    display: none;
  }
  body .features .buttons p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body footer {
    height: 180px;
  }
  body footer .wrapper #bottom-nav {
    flex-direction: column;
  }
  body footer .wrapper #bottom-nav .logo {
    width: 10px;
    height: 10px;
  }
  body footer .wrapper #bottom-nav .right-side {
    margin-top: 20px;
  }
  body footer p {
    text-align: center;
  }
}
